.test {
  justify-content: space-around;
  align-items: center;
}

.display-block {
  display: block !important;
}

@media (min-size: 576) {
  .display-sm-block {
    display: block !important;
  }
}
@media (min-size: 768) {
  .display-md-block {
    display: block !important;
  }
}
@media (min-size: 992) {
  .display-lg-block {
    display: block !important;
  }
}
@media (min-size: 1200) {
  .display-xl-block {
    display: block !important;
  }
}
@media (min-size: 1400) {
  .display-xxl-block {
    display: block !important;
  }
}
.display-flex {
  display: flex !important;
}

@media (min-size: 576) {
  .display-sm-flex {
    display: flex !important;
  }
}
@media (min-size: 768) {
  .display-md-flex {
    display: flex !important;
  }
}
@media (min-size: 992) {
  .display-lg-flex {
    display: flex !important;
  }
}
@media (min-size: 1200) {
  .display-xl-flex {
    display: flex !important;
  }
}
@media (min-size: 1400) {
  .display-xxl-flex {
    display: flex !important;
  }
}
.display-inline-block {
  display: inline-block !important;
}

@media (min-size: 576) {
  .display-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 768) {
  .display-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 992) {
  .display-lg-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 1200) {
  .display-xl-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 1400) {
  .display-xxl-inline-block {
    display: inline-block !important;
  }
}
.justify-start {
  justify-content: start !important;
}

@media (min-size: 576) {
  .justify-sm-start {
    justify-content: start !important;
  }
}
@media (min-size: 768) {
  .justify-md-start {
    justify-content: start !important;
  }
}
@media (min-size: 992) {
  .justify-lg-start {
    justify-content: start !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-start {
    justify-content: start !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-start {
    justify-content: start !important;
  }
}
.justify-center {
  justify-content: center !important;
}

@media (min-size: 576) {
  .justify-sm-center {
    justify-content: center !important;
  }
}
@media (min-size: 768) {
  .justify-md-center {
    justify-content: center !important;
  }
}
@media (min-size: 992) {
  .justify-lg-center {
    justify-content: center !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-center {
    justify-content: center !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-center {
    justify-content: center !important;
  }
}
.justify-end {
  justify-content: end !important;
}

@media (min-size: 576) {
  .justify-sm-end {
    justify-content: end !important;
  }
}
@media (min-size: 768) {
  .justify-md-end {
    justify-content: end !important;
  }
}
@media (min-size: 992) {
  .justify-lg-end {
    justify-content: end !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-end {
    justify-content: end !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-end {
    justify-content: end !important;
  }
}
.justify-space-between {
  justify-content: space-between !important;
}

@media (min-size: 576) {
  .justify-sm-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 768) {
  .justify-md-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 992) {
  .justify-lg-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-space-between {
    justify-content: space-between !important;
  }
}
.justify-space-around {
  justify-content: space-around !important;
}

@media (min-size: 576) {
  .justify-sm-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 768) {
  .justify-md-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 992) {
  .justify-lg-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-space-around {
    justify-content: space-around !important;
  }
}
.align-start {
  align-items: start !important;
}

@media (min-size: 576) {
  .align-sm-start {
    align-items: start !important;
  }
}
@media (min-size: 768) {
  .align-md-start {
    align-items: start !important;
  }
}
@media (min-size: 992) {
  .align-lg-start {
    align-items: start !important;
  }
}
@media (min-size: 1200) {
  .align-xl-start {
    align-items: start !important;
  }
}
@media (min-size: 1400) {
  .align-xxl-start {
    align-items: start !important;
  }
}
.align-center {
  align-items: center !important;
}

@media (min-size: 576) {
  .align-sm-center {
    align-items: center !important;
  }
}
@media (min-size: 768) {
  .align-md-center {
    align-items: center !important;
  }
}
@media (min-size: 992) {
  .align-lg-center {
    align-items: center !important;
  }
}
@media (min-size: 1200) {
  .align-xl-center {
    align-items: center !important;
  }
}
@media (min-size: 1400) {
  .align-xxl-center {
    align-items: center !important;
  }
}
.align-end {
  align-items: end !important;
}

@media (min-size: 576) {
  .align-sm-end {
    align-items: end !important;
  }
}
@media (min-size: 768) {
  .align-md-end {
    align-items: end !important;
  }
}
@media (min-size: 992) {
  .align-lg-end {
    align-items: end !important;
  }
}
@media (min-size: 1200) {
  .align-xl-end {
    align-items: end !important;
  }
}
@media (min-size: 1400) {
  .align-xxl-end {
    align-items: end !important;
  }
}

/*# sourceMappingURL=global-mixin.css.map */
