.test {
  text-align: start;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.d-block {
  display: block !important;
}

@media (min-size: 576) {
  .d-sm-block {
    display: block !important;
  }
}
@media (min-size: 768) {
  .d-md-block {
    display: block !important;
  }
}
@media (min-size: 992) {
  .d-lg-block {
    display: block !important;
  }
}
@media (min-size: 1200) {
  .d-xl-block {
    display: block !important;
  }
}
@media (min-size: 1400) {
  .d-xxl-block {
    display: block !important;
  }
}
.d-flex {
  display: flex !important;
}

@media (min-size: 576) {
  .d-sm-flex {
    display: flex !important;
  }
}
@media (min-size: 768) {
  .d-md-flex {
    display: flex !important;
  }
}
@media (min-size: 992) {
  .d-lg-flex {
    display: flex !important;
  }
}
@media (min-size: 1200) {
  .d-xl-flex {
    display: flex !important;
  }
}
@media (min-size: 1400) {
  .d-xxl-flex {
    display: flex !important;
  }
}
.d-inline-block {
  display: inline-block !important;
}

@media (min-size: 576) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 768) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 992) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 1200) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}
@media (min-size: 1400) {
  .d-xxl-inline-block {
    display: inline-block !important;
  }
}
.justify-start {
  justify-content: start !important;
}

@media (min-size: 576) {
  .justify-sm-start {
    justify-content: start !important;
  }
}
@media (min-size: 768) {
  .justify-md-start {
    justify-content: start !important;
  }
}
@media (min-size: 992) {
  .justify-lg-start {
    justify-content: start !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-start {
    justify-content: start !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-start {
    justify-content: start !important;
  }
}
.justify-center {
  justify-content: center !important;
}

@media (min-size: 576) {
  .justify-sm-center {
    justify-content: center !important;
  }
}
@media (min-size: 768) {
  .justify-md-center {
    justify-content: center !important;
  }
}
@media (min-size: 992) {
  .justify-lg-center {
    justify-content: center !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-center {
    justify-content: center !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-center {
    justify-content: center !important;
  }
}
.justify-end {
  justify-content: end !important;
}

@media (min-size: 576) {
  .justify-sm-end {
    justify-content: end !important;
  }
}
@media (min-size: 768) {
  .justify-md-end {
    justify-content: end !important;
  }
}
@media (min-size: 992) {
  .justify-lg-end {
    justify-content: end !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-end {
    justify-content: end !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-end {
    justify-content: end !important;
  }
}
.justify-space-between {
  justify-content: space-between !important;
}

@media (min-size: 576) {
  .justify-sm-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 768) {
  .justify-md-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 992) {
  .justify-lg-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-space-between {
    justify-content: space-between !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-space-between {
    justify-content: space-between !important;
  }
}
.justify-space-around {
  justify-content: space-around !important;
}

@media (min-size: 576) {
  .justify-sm-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 768) {
  .justify-md-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 992) {
  .justify-lg-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 1200) {
  .justify-xl-space-around {
    justify-content: space-around !important;
  }
}
@media (min-size: 1400) {
  .justify-xxl-space-around {
    justify-content: space-around !important;
  }
}
.align-start {
  align-items: start !important;
}

@media (min-size: 576) {
  .align-sm-start {
    align-items: start !important;
  }
}
@media (min-size: 768) {
  .align-md-start {
    align-items: start !important;
  }
}
@media (min-size: 992) {
  .align-lg-start {
    align-items: start !important;
  }
}
@media (min-size: 1200) {
  .align-xl-start {
    align-items: start !important;
  }
}
@media (min-size: 1400) {
  .align-xxl-start {
    align-items: start !important;
  }
}
.align-center {
  align-items: center !important;
}

@media (min-size: 576) {
  .align-sm-center {
    align-items: center !important;
  }
}
@media (min-size: 768) {
  .align-md-center {
    align-items: center !important;
  }
}
@media (min-size: 992) {
  .align-lg-center {
    align-items: center !important;
  }
}
@media (min-size: 1200) {
  .align-xl-center {
    align-items: center !important;
  }
}
@media (min-size: 1400) {
  .align-xxl-center {
    align-items: center !important;
  }
}
.align-end {
  align-items: end !important;
}

@media (min-size: 576) {
  .align-sm-end {
    align-items: end !important;
  }
}
@media (min-size: 768) {
  .align-md-end {
    align-items: end !important;
  }
}
@media (min-size: 992) {
  .align-lg-end {
    align-items: end !important;
  }
}
@media (min-size: 1200) {
  .align-xl-end {
    align-items: end !important;
  }
}
@media (min-size: 1400) {
  .align-xxl-end {
    align-items: end !important;
  }
}
.flex-column {
  flex-direction: column !important;
}

@media (min-size: 576) {
  .flex-sm-column {
    flex-direction: column !important;
  }
}
@media (min-size: 768) {
  .flex-md-column {
    flex-direction: column !important;
  }
}
@media (min-size: 992) {
  .flex-lg-column {
    flex-direction: column !important;
  }
}
@media (min-size: 1200) {
  .flex-xl-column {
    flex-direction: column !important;
  }
}
@media (min-size: 1400) {
  .flex-xxl-column {
    flex-direction: column !important;
  }
}
.flex-row {
  flex-direction: row !important;
}

@media (min-size: 576) {
  .flex-sm-row {
    flex-direction: row !important;
  }
}
@media (min-size: 768) {
  .flex-md-row {
    flex-direction: row !important;
  }
}
@media (min-size: 992) {
  .flex-lg-row {
    flex-direction: row !important;
  }
}
@media (min-size: 1200) {
  .flex-xl-row {
    flex-direction: row !important;
  }
}
@media (min-size: 1400) {
  .flex-xxl-row {
    flex-direction: row !important;
  }
}
.text-align-center {
  text-align: center !important;
}

@media (min-size: 576) {
  .text-align-sm-center {
    text-align: center !important;
  }
}
@media (min-size: 768) {
  .text-align-md-center {
    text-align: center !important;
  }
}
@media (min-size: 992) {
  .text-align-lg-center {
    text-align: center !important;
  }
}
@media (min-size: 1200) {
  .text-align-xl-center {
    text-align: center !important;
  }
}
@media (min-size: 1400) {
  .text-align-xxl-center {
    text-align: center !important;
  }
}
.text-align-start {
  text-align: start !important;
}

@media (min-size: 576) {
  .text-align-sm-start {
    text-align: start !important;
  }
}
@media (min-size: 768) {
  .text-align-md-start {
    text-align: start !important;
  }
}
@media (min-size: 992) {
  .text-align-lg-start {
    text-align: start !important;
  }
}
@media (min-size: 1200) {
  .text-align-xl-start {
    text-align: start !important;
  }
}
@media (min-size: 1400) {
  .text-align-xxl-start {
    text-align: start !important;
  }
}
.text-align-end {
  text-align: end !important;
}

@media (min-size: 576) {
  .text-align-sm-end {
    text-align: end !important;
  }
}
@media (min-size: 768) {
  .text-align-md-end {
    text-align: end !important;
  }
}
@media (min-size: 992) {
  .text-align-lg-end {
    text-align: end !important;
  }
}
@media (min-size: 1200) {
  .text-align-xl-end {
    text-align: end !important;
  }
}
@media (min-size: 1400) {
  .text-align-xxl-end {
    text-align: end !important;
  }
}

/*# sourceMappingURL=global-mixin.css.map */
