.ml-auto {
  margin-left: auto !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 1440px;
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-red {
  border-color: #FC1531;
}

.border-gray {
  border-color: #FFFFFF40;
}