@import "../tools/variables.css";

.main-white { background: #FFFFFF; }
.main-black { background: #000000; }
.main-gray { background: #b4b4b4; }
.main-light-green { background: #4fb73d; }
.main-light-gray { background: var(--color-background-grey-1); }
.main-dark-gray { background: var(--color-background-dark); }
.main-red { background: var(--color-text-red); }
.main-blue { background: var(--color-link-blue); }
.main-light-blue { background: var(--color-text-light-blue); }
.main-orange { background: var(--color-orange); }
.main-green { background: #118938; }
.main-pink { background: #edbccb; }
.main-turquoise { background: #6dbec5; }

.main-white-text { color: #FFFFFF; }
.main-black-text { color: #000000; }
.main-gray-text { color: #b4b4b4; }
.main-light-green-text { color: #4fb73d; }
.main-light-gray-text { color: var(--color-background-grey-1); }
.main-dark-gray-text { color: var(--color-background-dark); }
.main-red-text { color: var(--color-text-red); }
.main-blue-text { color: var(--color-link-blue); }
.main-light-blue-text { color: var(--color-text-light-blue); }
.main-orange-text { color: var(--color-carrot-orange); }
.main-green-text { color: #118938; }
.main-pink-text { color: #edbccb; }
.main-turquoise-text { color: #6dbec5; }
