

.size14-weight400 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
}

.size15-weight400 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.size16-weight400 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.size32-weight400 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
}

.size14-weight700 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
}

.size16-weight700 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
}

.size18-weight700 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
}

.size24-weight700 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
}

.size32-weight700 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 35px;
}